<div class="card">
  <form #customerForm="ngForm" (ngSubmit)="submitCustomer(customerForm)" novalidate>
    <div class="col-12">
      <div class="card-header">
        <div class="card-title">
          <span class="h3">{{'Novo cliente' | translate}}</span>
        </div>
      </div>
      <div class="card-body">
          <div class="row">
            <div class="form-group col-12">
              <label>{{'Name' | translate}}</label>
              <input name="name" class="form-control" [ngModel]="customer.name" type="text" required />
            </div>
            <div class="form-group col-12 col-md-2">
              <label>{{'Status' | translate}}</label>
              <ng-select
                [items]="statuses"
                bindLabel="text"
                bindValue="id"
              >
              </ng-select>
            </div>
            <div class="form-group col-12 col-md-4">
              <label>{{'Birthdate' | translate}}</label>
              <div class="input-group">
                <input name="birthdate" class="form-control" placeholder="yyyy-mm-dd" [ngModel]="customer.birthdate" type="date" required>
                <!--<input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" ngbDatepicker #d="ngbDatepicker" (dateSelect)="changeDate(d)" (click)="d.toggle()" formControlName="birthdate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="ft-calendar"></i> </button>
                </div>-->
              </div>
            </div>
          </div>
        <div class="row">
          <div class="form-group col-12">
            <button class="btn btn-success mr-2" type="submit"><i class="ft-save"></i> {{'Save' | translate}}</button>
            <button class="btn btn-info">{{'Cancel' | translate}}</button>
          </div>
        </div>
      </div>
      {{customerForm.valid}}
    </div>
  </form>
</div>
