<div class="card">
  <form #customerForm="ngForm" (ngSubmit)="submitCustomer(customerForm)" novalidate>
    <div class="col-12">
      <div class="card-header">
        <div class="card-title">
          <span class="h3">{{'Novo cliente' | translate}} <app-status-badge [selectStatus]="selectedStatus" #badgeComponent></app-status-badge></span>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-12">
            <label>{{'Name' | translate}}</label>
            <input name="name" class="form-control" [ngModel]="customer.name" type="text" required />
          </div>
          <div class="form-group col-12 col-md-2">
            <label>{{'Status' | translate}}</label>
            <ng-select
              [items]="statuses"
              [ngModel]="customer.status"
              [clearable]="false"
              (change)="selectedStatus = selectComponent.selectedValues[0].id"
              #selectComponent
              name="status"
              bindLabel="text"
              bindValue="id"
              required
            >
            </ng-select>
          </div>
          <div class="form-group col-12 col-md-4">
            <label>{{'Birthdate' | translate}}</label>
            <div class="input-group">
              <input name="birthdate" class="form-control" placeholder="yyyy-mm-dd" [ngModel]="customer.birthdate" type="date" required>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <button class="btn btn-success mr-2" type="submit" [disabled]="customerForm.invalid"><i class="ft-save"></i> {{'Save' | translate}}</button>
            <button class="btn btn-info" type="button" (click)="resetForm()">{{'Cancel' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
