<form [formGroup]="addressForm" (keyup)="submitAdrress()" class="needs-validation">
  <div class="row no-wrap">
    <div class="col-12 col-md-2">
      <label for="place">{{'Zipcode'}}</label>
      <input name="zipcode" id="zipcode" type="text" mask="99999-999" (keyup)="searchZipcode($event.target.value ?? '00000-000')" class="form-control" formControlName="zipcode" />
    </div>
    <div class="col-12 col-md-6">
      <label for="place">{{'Street'}}</label>
      <input name="place" id="place" type="text" class="form-control" [ngClass]="{'is-invalid': addressForm.controls['public_place'].invalid && addressForm.controls['public_place'].dirty}" formControlName="public_place" />
    </div>
    <div class="col-12 col-md-2">
      <label for="number">{{'Number'}}</label>
      <input name="number" id="number" type="text" class="form-control" [ngClass]="{'is-invalid': addressForm.controls['number'].invalid && addressForm.controls['number'].dirty}" formControlName="number" />
    </div>
    <div class="row col-12" formGroupName="neighborhood" style="padding: 0; margin: 0">
      <div class="col-12 col-md-3" >
        <label for="neighborhood">{{'Neighborhood'}}</label>
        <input name="neighborhood" id="neighborhood" type="text" class="form-control" formControlName="name" />
      </div>
      <div class="col-12 col-md-3" formGroupName="city">
        <label for="city">{{'City'}}</label>
        <ng-select id="city" formControlName="name">
          <ng-option *ngFor="let city of cities" [value]="city.id">{{city.name | uppercase}}</ng-option>
        </ng-select>
      </div>
    </div>

  </div>
</form>

