<div class="row">
  <div class="col-12 col-md10">
    <div class="content-header">{{title | translate}}</div>
  </div>
  <div class="col-12 col-md">
    <div class="row justify-content-between">
      <div class="form-group col-12 col-md-10">
        <input class="form-control" placeholder="{{'Type name or some document' | translate}}">
      </div>
      <div class="col-12 col-md">
        <button class="btn btn-primary col-12">{{'Search' | translate}}</button>
      </div>
      <div>
        <button class="btn btn-primary col-12" [routerLink]="['./create']"><i class="ft-user-plus"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>{{'Name' | translate}}</th>
        <th>{{'Status' | translate}}</th>
        <th>{{'Actions' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row-vcenter" *ngFor="let customer of customers | async; index as id">
        <th style="vertical-align: middle;" scope="row">{{id + 1}}</th>
        <td style="vertical-align: middle;">{{customer.name}}</td>
        <td style="vertical-align: middle;" [ngSwitch]="customer.status">
          <span *ngSwitchCase="'ACTIVE'" class="badge badge-pill badge-success">
            {{customer.status}}
          </span>
          <span *ngSwitchCase="'SUSPENDED'" class="badge badge-pill badge-success">
            {{customer.status}}
          </span>
        </td>
        <td>
          <button class="btn btn-info" [routerLink]="['edit']" [queryParams]="{id: customer.id}">
            <i class="ft-edit"></i>
          </button>
          <button class="btn btn-danger ml-1" (click)="removeCustomer(customer.id)">
            <i class="ft-user-x"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
