<div class="row justify-content-between">
  <div class="form-group col-12 col-md-10 d-md-flex justify-content-md-between">
    <input class="form-control col-12 col-md-10" placeholder="Nome do vendedor" name="seller_name" [(ngModel)]="seller_name"/>
    <input class="form-control col-12 col-md-2 ml-md-1 mt-1 mt-md-0" name="start_date" [(ngModel)]="start_date" type="date" #date/>
  </div>
  <div class="col-12 col-md">
    <button class="btn btn-primary col-12" (click)="search()">Procurar</button>
  </div>
  <div>
    <app-create-opportunity-modal (output)="search()"></app-create-opportunity-modal>
    <!--<button class="btn btn-primary col-12"><i class="ft-user-plus"></i></button>-->
  </div>
</div>

<table class="table table-responsive-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Cliente</th>
      <th>Vendedor</th>
      <th>Status</th>
      <th>Data de criação</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let opportunity of opportunities">
      <th scope="row">{{opportunity.id}}</th>
      <td>{{opportunity.customer_name}}</td>
      <td>{{opportunity.seller_name}}</td>
      <td [ngSwitch]="opportunity.status">
        <p *ngSwitchCase="'1'" class="badge badge-pill badge-secondary">Pendente</p>
        <p *ngSwitchCase="'2'" class="badge badge-pill badge-success">Aprovado</p>
        <p *ngSwitchCase="'3'" class="badge badge-pill badge-warning">Reprovado</p>
      </td>
      <td>{{opportunity.created_at | date: 'dd/MM/YYYY'}}</td>
      <td>
        <i class="btn btn-success ft ft-check mr-md-2" (click)="approveOpportunity(opportunity.id)"></i>
        <i class="btn btn-danger ft ft-x" (click)="refuseOpportunity(opportunity.id)"></i>
      </td>
    </tr>

  </tbody>
</table>


